# 3. Tipos de datos üéπ

Existen¬†una¬†gran¬†cantidad¬†de¬†tipos¬†de¬†datos¬†en¬†Python:¬†*Texto, num√©ricos, secuencia, mapeos, conjuntos, booleanos, binarios*.

## Entero (int)
Dato num√©rico utilizado para representar n√∫meros enteros.

In [1]:
cantidadAlumnos = 256
print(cantidadAlumnos)

256


## Flotante (float)
Dato num√©rico utilizado para representar n√∫meros reales, es decir, n√∫meros con cifras decimales.

In [2]:
alturaMetros = 1.75
print(alturaMetros)

1.75

## Texto (str)
Cadena de caracteres: letras, n√∫meros y s√≠mbolos.
El valor **se debe colocar dentro de comillas simples o dobles** para indicar que es un ```str```.

In [3]:
movie = "The Lord of the Rings: The Return of the King (2003)"
cantidadAlumnos2 = "256"
alturaMetros2 = "1.75"
print(movie)
print(cantidadAlumnos2)
print(alturaMetros2)

The Lord of the Rings: The Return of the King (2003)
256
1.75

> ‚ö†Ô∏è Se debe tener especial cuidado al manejar n√∫meros representados como cadenas de caracteres ya que Python no los interpretar√° como valores num√©ricos (```int``` o ```float```).

## Funci√≥n type
La funci√≥n ```type()``` se puede utilizar para conocer el tipo de dato de una variable.

In [4]:
print(type(cantidadAlumnos))
print(type(cantidadAlumnos2))

<class 'int'>
<class 'str'>

## Funci√≥n input

La funci√≥n¬†`input()`¬†se utiliza para solicitar al usuario una entrada. El programa se detiene, hasta que el usuario presiona la tecla¬†**Enter**¬†en su teclado (luego de escribir el ingreso). Esta funci√≥n, retorna una cadena de caracteres (`str`) con el ingreso del usuario.

In [5]:
nom = input("¬øCu√°l es su nombre? ")
print("Su nombre es", nom)

Su nombre es Diego

Ahora veamos qu√© sucede si solicitamos al usuario un n√∫mero que utilizaremos para realizar una operaci√≥n m√°s adelante.

In [6]:
age = input("Ingrese su edad: ")
birthYear = 2024 - age # no se puede operar un int con un str
print("Usted naci√≥ en el a√±o ", birthYear)

TypeError: unsupported operand type(s) for -: 'int' and 'str'

Python nos muestra un mensaje de error (TypeError) debido a que la operaci√≥n de resta (`-`) no est√° soportada entre variables num√©ricas (`int` o `float`) y cadenas de caracteres (`str`).

> üëå Es completamente normal (y esperado) obtener errores al escribir c√≥digo, incluso para programadores experimentados. Suelen aparecer cuando Python no es capaz de interpretar una instrucci√≥n (SintaxError) o porque se est√° realizando una acci√≥n inv√°lida (como la anterior). Lo importante es comprender el error y corregirlo, lo cual ser√° cada vez m√°s sencillo con la pr√°ctica.

En este caso, podr√≠amos realizar una conversi√≥n de datos para que la variable `age` se interprete como un entero.

In [7]:
age = input("Ingrese su edad: ")
age = int(age) # conversion a entero (casting)
birthYear = 2024 - age
print("Usted naci√≥ en el a√±o ", birthYear)

Usted naci√≥ en el a√±o  1996

## Conversi√≥n de datos

Para convertir entre distintos tipos de datos, simplemente debemos especificar el tipo de dato y colocar el valor dentro de par√©ntesis.

1. **int()**
2. **float()**
3. **str()**

Por ejemplo, si queremos convertir una variable¬†**`x = "99"`**¬†a un valor num√©rico.

In [8]:
x = "99"
print(type(x))
x = int(x)
print(type(x))

<class 'str'>
<class 'int'>